{{#if userInSession}}
  <h1 class="auth">Este es tu espacio {{userInSession.username}}</h1>
  <p>Esta es tu página de usuario
    {{userInSession.username}}, donde te has registrado con el email
    {{userInSession.email}}.</p>

  <div class="boxDiv">
    <div class="singlediv2">
      <a href="/prompts">
        <h4>Consulta todos los prompts:</h4>
        <img class="small" src="/images/prompts.png" />
      </a>
    </div>
    <div class="singlediv2">
      <h4>Consulta tus prompts:</h4>
      <img class="small" src="/images/misprompts.png" />
    </div>
  </div>
  <div class="boxDiv">
    <div class="singlediv2">
      <h4>Consulta tus respuestas:</h4>
      <img class="small" src="/images/respuestas.png" />
    </div>
    <div class="singlediv2">
      <h4>Edita tu perfil:</h4>
      <img class="small" src="/images/user.png" />
    </div>
  </div>

{{else}}

  <br /><p>¡Debes iniciar sesión para acceder a tu perfil!</p>

  <div id="login-form">
    <h2>Log In</h2>
    <form action="/log-in" method="POST">

      <label>
        Email
        <input type="email" name="email" placeholder="Email" />
      </label>

      <label>
        Contraseña
        <input type="password" name="password" placeholder="Contraseña" />
      </label>

      <button type="submit" class="button">Iniciar sesión</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

{{/if}}