<div class="form">
  <h2>Editar cuenta</h2>
  <form action="/edit-profile" method="POST" enctype="multipart/form-data">

    <label for="username">Usuario:</label>
    <input type="text" name="username" placeholder="Your username" value="{{username}}" />

    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Your email" value="{{email}}" />

    <label for="password">Contraseña:</label>
    <input type="password" name="password" placeholder="Your password" value="{{password}}" />

    <label for="profilePic">Imagen de perfil:</label>
    <img src="{{profilePic}}" alt="" />
    <input type="text" name="profilePicOld" value="{{profilePic}}" style="display:none" />
    <input type="file" id="profilePic" name="profilePic" />

    <label for="industry">Sector:</label>
    <input type="text" name="industry" placeholder="Your industry" value="{{industry}}" />

    <button type="submit" class="promptPalButton">Editar</button>

  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>