<a href="/prompts/create"><button class="promptPalCreateButton">Crear prompt</button></a>

<a href="/prompts/mis-prompts"><button class="promptPalCreateButton">Mis prompts</button></a>

<div class="flex">

  <a href="/prompts"><button>Ver todos</button></a>

  <a href="/prompts/buyer-persona"><button>Buyer Persona</button></a>

  <a href="/prompts/content-creation"><button>Content Creation</button></a>

  <a href="/prompts/content-performance"><button>Content Performance</button></a>

  <a href="/prompts/content-promotion-distribution"><button>Content Promotion
      and Distribution</button></a>

  <a href="/prompts/seo"><button>SEO Copywritting</button></a>

  <a href="/prompts/story-telling"><button>Story Telling</button></a>

</div>

<div class="mainPrompt">
  <h2>Original prompt</h2>
  {{#with originalPrompt}}
    <p class="definition">{{tag}}</p>
    <p class="definition">{{definition}}</p>
    <p class="response">{{responses}}</p>
  {{/with}}

</div>

{{#each asPrompt}}
  <div class="prompts">
    <h4>{{tag}} (<i>{{_id}}</i>)</h4>
    <p class="definition">{{definition}}</p>
    <p class="response">{{responses}}</p>

    <a href="/prompts/{{prompt._id}}/edit" class="promptPal"><button
        class="promptPalButton"
      >Utilizar</button></a>
  </div>
{{/each}}