<h2>Mis prompts</h2>

{{#if prompts}}

  <form action="/prompts" method="POST">
    <label for="tags">Tags:</label>
    <select name="tag" id="tags">
      {{#each tags}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Filtrar</button>
  </form>

  <div><a href="/prompts/create"><button class="promptPalCreateButton">Crear
        prompt</button></a>
    <a href="/prompts/mis-prompts"><button class="promptPalCreateButton">Mis
        prompts</button></a></div>

  {{#each prompts}}
    <div class="prompts">
      <h3>{{tag}}</h3>
      <p>{{definition}}</p>
      <p><b>Creado</b>: {{createdAt}}</p>
      <p><b>Actualizado</b>: {{updatedAt}}</p>
      <a href="/ask/{{_id}}" class="promptPalButtonPrompts">Consultar</a>
      {{#if prompt}}
        <a
          href="/prompts/{{prompt}}/prompts"
          class="promptPalButtonPrompts"
        >Consultas</a>
      {{/if}}
      <a href="/prompts/{{_id}}/edit" class="promptPalButtonPrompts">Editar</a>
      <p>
        <a href="/prompts/{{_id}}/delete" class="bin">
        <img
              src="/images/delete.png"
            /></a>

        </form></p>
    </div>

  {{/each}}

{{else}}

  <h3>¿Todavía no has creado ni utilizado ningún prompt?</h3>

  <p>Utiliza tu primer prompt
    <a href="/prompts"><button class="promptPalCreateButton">Buscar prompt</button></a><br
    /><br />
    o créalo desde cero
    <a href="/prompts/create"><button class="promptPalCreateButton">Crear prompt</button></a></p>

{{/if}}