  <div class="promptsTitle">
    <h2 class="title">Encuentra tu prompt adecuado para obtener la mejor
      respuesta</h2>

    <div class="prompts">

      <div id="prompt">
        <h3 class="tags">{{prompt.tag}}</h3>

        <p class="hundred-chars">{{prompt.definition}}</p>

        <div class="flex">

          <button class="greenButtonPrompt button"><a
              href="#pop-up"
            >Ver</a></button>
          <button class="blueButtonPrompt"><a
              href="/prompts/{{_id}}/edit"
            >Utilizar</a></button>

        </div>
      </div>

      <div id="pop-up" class="overlay">
        <div class="popup">
          <h3 class="tags">{{this.tag}}</h3>
          <a class="close" href="#">&times;</a>
          <div class="content">
            {{this.definition}}
            <div>

              <button class="blueButtonPrompt"><a
                  href="/prompts/{{_id}}/edit"
                >Utilizar</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div></div>