<div class="promptsTitle">
  <h2 class="title">Encuentra tu prompt adecuado para obtener la mejor respuesta</h2>
</div>
<div class="search">
  <form action="/prompts" method="POST">
    <label for="tags">Tags:</label>
    <select name="tag" id="tags">
      {{#each tags}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Filtrar</button>
  </form>
</div>

<div class="prompts">

  {{#each prompts}}

    <div id="prompt">
      <h3 class="tags">{{tag}}</h3>

      <p class="hundred-chars">{{definition}}</p>

      <div class="flex">

        <button class="greenButtonPrompt button"><a
            href="#pop-up"
          >Ver</a></button>
        <button class="blueButtonPrompt"><a
            href="/prompts/{{_id}}/edit"
          >Utilizar</a></button>

      </div>
    </div>

    <div id="pop-up" class="overlay">
      <div class="popup">
        <h3 class="tags">{{this.tag}}</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          {{this.definition}}
          <div>

            <button class="blueButtonPrompt"><a
                href="/prompts/{{_id}}/edit"
              >Utilizar</a></button>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>