<a href="/profile"><button>Ir a mi perfil</button></a>

<a href="/log-out"><button>Log out</button></a>

<a href="/prompts"><button>Ver todos</button></a>

<a href="/prompts/buyer-persona"><button>Buyer Persona</button></a>

<a href="/prompts/content-creation"><button>Content Creation</button></a>

<a href="/prompts/content-performance"><button>Content Performance</button></a>

<a href="/prompts/content-promotion-distribution"><button>Content Promotion and
    Distribution</button></a>

<a href="/prompts/seo"><button>SEO Copywritting</button></a>

<a href="/prompts/story-telling"><button>Story Telling</button></a>

<h2>{{prompt.tag}}</h2>

<div class="prompts">
  <p class="definition">{{prompt.definition}}</p>
  <p class="response">{{prompt.responses}}</p>
  <a href="/prompts/{{prompt._id}}/save" class="promptPal"><button
    >Guardar</button></a>
  <a href="/prompts/{{prompt._id}}/edit" class="promptPal"><button
    >Editar</button></a>
  <a href="/prompts/send-prompt" class="promptPal"><button>Enviar</button></a>

</div>