<a href="/prompts/create"><button class="promptPalCreateButton">Crear prompt</button></a>

<a href="/prompts/mis-prompts"><button class="promptPalCreateButton">Mis prompts</button></a>

<div class="flex">

  <a href="/prompts"><button>Ver todos</button></a>

  <a href="/prompts/buyer-persona"><button>Buyer Persona</button></a>

  <a href="/prompts/content-creation"><button>Content Creation</button></a>

  <a href="/prompts/content-performance"><button>Content Performance</button></a>

  <a href="/prompts/content-promotion-distribution"><button>Content Promotion
      and Distribution</button></a>

  <a href="/prompts/seo"><button>SEO Copywritting</button></a>

  <a href="/prompts/story-telling"><button>Story Telling</button></a>

</div>

<h2>{{prompt.tag}}</h2>

<div class="prompts">
  <p class="definition">{{prompt.definition}}</p>
  <p class="response">{{prompt.responses}}</p>
  <div class="flex">
  <a href="/prompts/{{prompt._id}}/edit" class="promptPal"><button
      class="promptPalButton"
    >Seleccionar</button></a>
    {{#if asPrompt}}
  <a href="/prompts/{{prompt._id}}/prompts" class="promptPal"><button
      class="promptPalButton"
    >Ver consultas</button></a>
    {{/if}}
    <br>
    {{#if responses}}
    <a href="/prompts/{{prompt._id}}/prompts" class="promptPal"><button
      class="promptPalButton"
    >Ver consultas</button></a>

    {{/if}}
</div>


