<h2>Available prompts</h2>

<form action="/prompts" method="POST">
  <label for="tags">Tags:</label>
  <select name="tag" id="tags">
    {{#each tags}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <button type="submit">Filtrar</button>
</form>
<div><a href="/prompts/create"><button class="promptPalCreateButton">Crear
      prompt</button></a>

  <a href="/prompts/mis-prompts"><button class="promptPalCreateButton">Mis
      prompts</button></a></div>

{{#each prompts}}
  <div class="prompts">
    <h3>{{tag}}</h3>
    <p>{{definition}}</p>

    <button class="bin"><a href="/prompts/{{_id}}"><img
          src="/images/searchIcon.png"
        /></a></button>
  </div>
{{/each}}