<a href="/prompts/create"><button class="promptPalCreateButton">Crear prompt</button></a>

<a href="/prompts/mis-prompts"><button class="promptPalCreateButton">Mis prompts</button></a>

<div class="mainPrompt">
  <h2>Original prompt</h2>
  {{#with mainPrompt}}
    <p class="definition"><b>TAG</b>:<br /> {{tag}}</p>
    <p class="definition"><b>Definition</b>:<br />{{definition}}</p>
    {{#if responses}}
      <p class="response"><b>Responses</b>:<br />{{responses}}</p>
    {{/if}}
  {{/with}}
  <a href="/prompts/{{originalPrompt._id}}/edit" class="promptPal"><button
      class="promptPalButton"
    >Utilizar</button></a>
</div>

{{#if responses}}
  <h2>Respuestas</h2>
{{/if}}

{{#each responses}}
  <p class="definition"><b>TAG</b>:<br /> {{tag}}</p>
  <p class="definition"><b>Query</b>:<br />{{query}}</p>
  <p class="definition"><b>chatGPTresponse</b>:<br />{{chatGPTresponse}}</p>
  <p class="definition"><b>Query</b>:<br />{{query}}</p>
{{/each}}