<a href="/responses/mis-responses"><button class="promptPalCreateButton">Mis
    responses</button></a>

<div class="flex">

  <a href="/responses"><button>Ver todas</button></a>

  <a href="/responses/buyer-persona"><button>Buyer Persona</button></a>

  <a href="/responses/content-creation"><button>Content Creation</button></a>

  <a href="/responses/content-performance"><button>Content Performance</button></a>

  <a href="/responses/content-promotion-distribution"><button>Content Promotion
      and Distribution</button></a>

  <a href="/responses/seo"><button>SEO Copywritting</button></a>

  <a href="/responses/story-telling"><button>Story Telling</button></a>

</div>

{{#if responses}}

  <h2>Mis responses</h2>

  {{#each responses}}
    <div class="prompts">
      <h3>{{tag}}</h3>
      <p>{{chatGPTresponse}}</p>
      <p><b>Creado</b>: {{createdAt}}</p>
      <p><b>Actualizado</b>: {{updatedAt}}</p>
      <p>
        <form action="/responses/{{id}}/delete" method="post">
          <button type="submit" class="bin"><img
              src="/images/delete.png"
            /></button>

        </form></p>
    </div>

  {{/each}}

{{else}}

  <h3>¿Todavía no has lanzado ninguna petición? ¿A qué esperas?</h3>

  <p>Utiliza tu primer prompt
    <a href="/prompts"><button class="promptPalCreateButton">Buscar prompt</button></a><br
    /><br />
    o créalo desde cero
    <a href="/prompts/create"><button class="promptPalCreateButton">Crear prompt</button></a></p>

{{/if}}