<a href="/profile"><button>Ir a mi perfil</button></a>

<a href="/log-out"><button>Log out</button></a>

<a href="/responses"><button>Ver todas</button></a>

<h2>{{response.query}}</h2>

<div class="prompts">
  <p class="definition">{{response.chatGPTresponse}}</p>
  <p class="response">{{response.prompts}}</p>
  <a href="/prompts/{{response.prompt}}">Ir a prompt</a>
  <a href="/responses/{{response._id}}/delete">Eliminar</a>
  <a href="/responses/{{response._id}}/send">Enviar por email</a>
</div>