<h2>Available responses</h2>

<a href="/profile"><button>Ir a mi perfil</button></a>

<a href="/log-out"><button>Log out</button></a>

<a href="/responses"><button>Ver todas</button></a>

<form action="/responses" method="POST">
  <label for="tags">Tags:</label>
  <select name="tag" id="tags">
    <option value="null">Todos</option>
    {{#each tags}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <select name="sortByDate" id="sortByDate">
    <option value="1">Ascendente</option>
    <option value="-1">Descendente</option>
  </select>
  <button type="submit">Filtrar</button>
</form>

{{#each responses}}
  <div class="prompts">
    <h3>{{query}}</h3>
    <p class="fifty-chars">{{chatGPTresponse}}</p>
    <p>{{tag}}</p>
    <p>Creación: {{createdAt}}</p>
    <p>Ultima modificación: {{updatedAt}}</p>
    <a href="/responses/{{_id}}">Revisar</a>
    <a href="/responses/{{_id}}/delete">Eliminar</a>
  </div>
{{/each}}