<div class="promptsTitle">
  <h2 class="title">Tus respuestas</h2>
</div>
<div class="allPromptsSearch">
  <form action="/responses" method="POST">
    <select name="tag" id="tags">
      <option value="null">Todos</option>
      {{#each tags}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select name="sortByDate" id="sortByDate">
      <option value="1">Ascendente</option>
      <option value="-1">Descendente</option>
    </select>
    <button type="submit">Filtrar</button>
  </form>
</div>

<div class="prompts">

  {{#each responses}}

    <div id="prompt">
      <h3 class="tags fifty-chars">{{query}}</h3>

      <p class="fifty-chars">{{chatGPTresponse}}</p>

      <p>Creación: {{createdAt}}</p>
      <p>Ultima modificación: {{updatedAt}}</p>

      <div class="flex">

        <button class="blueButtonRes"><a
            href="/responses/{{_id}}"
          >Revisar</a></button>
        <button class="blueButtonDelRes"><a
            href="/responses/{{_id}}/delete"
          >Eliminar</a></button>
        <button class="blueButtonSendRes"><a
            href="/responses/{{_id}}/send"
          >Enviar por email</a></button>

      </div>
    </div>

    <div id="pop-up" class="overlay">
      <div class="popup">
        <h3 class="tags">{{this.tag}}</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          {{this.definition}}
          <div>

            <button class="blueButtonPrompt"><a
                href="/prompts/{{_id}}/edit"
              >Utilizar</a></button>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>