<h2>Available responses</h2>

<a href="/profile"><button>Ir a mi perfil</button></a>

<a href="/log-out"><button>Log out</button></a>

<a href="/responses"><button>Ver todas</button></a>

<form action="/responses" method="POST">
  <label for="tags">Choose a tag:</label>
  <select name="tag" id="tags">
    {{#each tags}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <button type="submit">Filtrar</button>
</form>

{{#each responses}}
  <div class="prompts">
    <h3>{{query}}</h3>
    <p class="fifty-chars">{{chatGPTresponse}}</p>
    <p>{{tag}}</p>
    <p>{{updatedAt}}</p>
    <a href="/responses/{{id}}">Revisar</a>
    <a href="/responses/{{id}}/delete">Eliminar</a>
  </div>
{{/each}}