<div class="centerFlexTitle">
  <h2 class="h2">Tus respuestas</h2>


  <form action="/responses" method="POST">
    <select name="tag" id="tags" class="greyInput">
      <option value="null">Todos</option>
      {{#each tags}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
          <button type="submit" class="blueButton">Filtrar</button>

    <select name="sortByDate" id="sortByDate" class="greyInput">
      <option value="1">Ascendente</option>
      <option value="-1">Descendente</option>
    </select>
    <button type="submit" class="blueButton">Filtrar</button>
  </form>
</div>
</div>

<div class="prompts">

  {{#each responses}}

    <div id="prompt">
      <h3 class="tags fifty-chars">{{query}}</h3>

      <p class="fifty-chars">{{chatGPTresponse}}</p>

<div class="flex bin">
      <p>Creación: {{createdAt}}</p>
      <p>Ultima modificación: {{updatedAt}}</p>
      </div>

      <div class="flex bin">

        <button class="blueButtonRes"><a
            href="/responses/{{_id}}"
          >Revisar</a></button>
        
        <button class="blueButtonSendRes"><a
            href="/responses/{{_id}}/send"
          >Enviar por email</a></button>

          <a href="/prompts/{{_id}}/delete"><img src="/images/delete.png" /></a>

      </div>
    </div>

    <div id="pop-up" class="overlay">
      <div class="popup">
        <h3 class="tags">{{this.tag}}</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
          {{this.definition}}
          <div>

            <button class="blueButtonPrompt"><a
                href="/prompts/{{_id}}/edit"
              >Utilizar</a></button>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>