<div class="centerFlex">
  <div id="promptNew4">

    <form action="{{id}}" method="POST">

      <textarea
        class="newPromptText hundred-chars"
        name="prompt"
        cols="30"
        rows="10"
      >{{response.query}}</textarea>


    </form>

    <textarea
        class="newPromptText2 hundred-chars"
        name="prompt"
        cols="30"
        rows="10"
      >{{response.chatGPTresponse}}</textarea>

      <div class="centerFlexTop2">          
  <button class="blueButtonRes"><a href="/prompts/{{response.prompt}}">Ir a prompt</a></button>
  <button class="blueButtonDelRes"><a href="/responses/{{response._id}}/delete">Eliminar</a></button>
  <button class="blueButtonSendRes"><a href="/responses/{{response._id}}/send">Enviar por email</a></button></div>

  </div>

</div>

</div>
